@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;600;700;800&display=swap');

.album-profile {
    display: flex;
    padding: 75px 108px;
    gap: 75px;
    flex-direction: column;
    align-items: center;
}

.album-info-container {
    display: flex;
    background: linear-gradient(#B07D62, #8A5A44);
    border-radius: 8px;
    padding: 40px;
    box-shadow: 12px 12px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    height: fit-content;
    width: 50%;
    min-width: 635px;
}

.album-info-container .image-placeholder img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.album-right {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.album-info h3, .page-card h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0px;
}

.album-info p, .page-card p {
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.album-button {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
}

.album-button .button, .page-card .button{
    border: solid 2px #f7f7f7;
    border-radius: 8px;
    background-color: unset;
    color: #f7f7f7;
    width: 200px;
    height: 45px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.album-button .button img, .page-card .button img {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}

.album-button .button:hover, .page-card .button:hover {
    border: #9C6B52;
    background-color: #9C6B52;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.search-container input {
    background: #EDE0D4;
    border: solid 1px #B07D62;
    border-radius: 4px;
    outline: none;
    color: #B07D62;
    height: 53px;
    min-width: 560px;
    padding: 0px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.search-container input::placeholder {
    color: #B07D62;
}

/*.search-container button {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #F7F7F7;
    border: solid 1px #B07D62;
    background-color: #B07D62;
    height: 56px;
    padding: 0px 16px;
}*/



.sort-container {
    position: relative;
    display: flex;
    align-items: center;
}

.sort-label {
    position: absolute;
    left: 33%;
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #F7F7F7;
}

.sort-label .button-icon {
    width: 24px;
    height: 24px;
}

.search-container .sort-select {
    color: #B07D62;
    display: flex;
    align-items: center;
    border: solid 1px #B07D62;
    background-color: #B07D62;
    height: 56px;
    padding: 0px 16px;
    border-radius: 4px;
    border: solid 1px #B07D62;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
}

.search-container option {
    color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.page-list {
    flex: 1;
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85%;
}

.page-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#B07D62, #8A5A44);
    border-radius: 8px;
    padding: 38px 38px 32px 38px;
    gap: 16px;
    cursor: pointer;
    width: 40%;
}

.page-card img {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.page-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.page-card-button {
    display: flex;
    justify-content: flex-end;
}

.page-card:hover {
    background: #9C6B52;
}