@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;600;700;800&display=swap');

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.page-container2 {
  background-color: #BEE0B7;
  width: min(100vw, 1330px);
  height: min(100vw, 1330px);
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.giraffe {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  z-index: 1;
}

.page-container2 .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 2;
}

.page-container2 .back-button {
  display: flex;
  background: none;
  border: none;
  color: #178D00;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  padding: 12px;
  gap: 10px;
  z-index: 2;
}

.page-container2 .back-button img {
  height: 27px;
  width: 27px;
}

.page-container2 .back-button:hover {
  color: #38b000;
}

.page-container2 .date-input {
  background: transparent;
  border: none;
  color: #178D00;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
  outline: none;
  width: fit-content;
  cursor: text;
}

.page-container2 .date-input::-webkit-calendar-picker-indicator {
  display: none;
}

.page-container2 .content {
  display: flex;
  gap: 50px;
  padding: 0px 80px 80px 80px;
  height: 100%;
  position: relative;
  align-items: center;
  z-index: 2;
}

.page-container2 .text-section {
  display: flex;
  flex-direction: column;
  position: unset;
  height: 100%;
  margin-top: 20%;
  gap: 50px;
  padding: 0px 80px 0px 20px;
}

.page-container2 .title-container {
  width: 100%;
  text-align: center;
}

.page-container2 .title-input {
  background: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #178D00;
  width: 100%;
  text-align: center;
  outline: none;
  padding: 0;
}

.page-container2 .lined-textarea-wrapper {
  position: relative;
  width: 100%;
  height: 480px;
  margin-top: 20px;
}

.page-container2 .lined-textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #178D00;
  font-size: 30px;
  line-height: 60px;
  border: none;
  resize: none;
  z-index: 3;
  padding: 0;
  outline: none;
  left: 0;
  top: -10%;
  margin: 0;
}

.page-container2 .line-overlay {
  position: absolute;
  left: 0;
  right: 120px;
  height: 2px;
  width: 100%;
  background-color: #178D00;
  z-index: 1;
  margin: 0;
}

.page-container2 .image-section {
  width: 50%;
  height: 100%;
  display: flex;
  position: unset;
  margin-top: 35%;
}

.page-container2 .image-section .custum-file-upload {
  width: 100%;
  height: 50%;
  border-radius: 4px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.page-container2 .image-section .custum-file-upload input {
  display: none;
}

.vine-image {
  position: absolute;
  left: 51%;
  bottom: 8.8%;
  width: 27%;
  z-index: 2;
}

.parrot-image {
  position: absolute;
  right: 6%;
  top: 0.5%;
  width: 19%;
  z-index: 1;
}

.page-container2 .save-button {
  border: solid 2px #178D00;
  border-radius: 8px;
  background-color: unset;
  color: #178D00;
  width: 180px;
  height: 52px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.page-container2 .save-button:hover {
  background-color: #178D00;
  color: #f7f7f7;
}