@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400;500;600;700;800&display=swap');

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.page-container {
  background-color: #A9D6E5;
  width: min(100vw, 1330px);
  height: min(100vw, 1330px);
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.waves-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  z-index: 1;
}

.waves-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 1;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 2;
}

.back-button {
  display: flex;
  background: none;
  border: none;
  color: #014F86;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  padding: 12px;
  gap: 10px;
  z-index: 2;
}

.back-button img {
  height: 27px;
  width: 27px;
}

.back-button:hover {
  color: #2c7da0;
}

.date-input {
  background: transparent;
  border: none;
  color: #014F86;
  font-size: 24px;
  font-weight: 500;
  text-align: right;
  outline: none;
  width: fit-content;
  cursor: text;
}

.date-input::-webkit-calendar-picker-indicator {
  display: none;
}

.content {
  display: flex;
  gap: 50px;
  padding: 0px 80px 80px 80px;
  height: 100%;
  position: relative;
  align-items: center;
  z-index: 2;
}

.image-section {
  width: 50%;
  height: 50%;
  position: absolute;
  display: flex;
}

.image-section .custum-file-upload {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.image-section .custum-file-upload input {
  display: none;
}

.whale-image {
  position: absolute;
  left: -12%;
  bottom: -25%;
  width: 70%;
  z-index: 2;
}

.jellyfish-image {
  position: absolute;
  right: -10%;
  top: -15%;
  width: 30%;
  z-index: 1;
}

.text-section {
  position: absolute;
  left: calc(50% + 150px);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 80px 0px 20px;
}

.title-container {
  width: 100%;
  text-align: center;
}

.title-input {
  background: transparent;
  border: none;
  font-size: 40px;
  font-weight: 700;
  color: #014F86;
  width: 100%;
  text-align: center;
  outline: none;
  padding: 0;
}

.lined-textarea-wrapper {
  position: relative;
  width: 100%;
  height: 480px;
  margin-top: 20px;
}

.lined-textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #014F86;
  font-size: 30px;
  line-height: 60px;
  border: none;
  resize: none;
  z-index: 3;
  padding: 0;
  outline: none;
  left: 0;
  top: -10%;
  margin: 0;
}

.line-overlay {
  position: absolute;
  left: 0;
  right: 120px;
  height: 2px;
  width: 100%;
  background-color: #014F86;
  z-index: 1;
  margin: 0;
}

.page-container .save-button {
  border: solid 2px #014F86;
  border-radius: 8px;
  background-color: unset;
  color: #014F86;
  width: 180px;
  height: 52px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.page-container .save-button:hover {
  background-color: #014F86;
  color: #f7f7f7;
}