* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #B07D62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 108px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
  
.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 40px;
  font-weight: 700;
}
  
.header .logo-image {
  height: 84px;
}
  
.nav {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.nav .link {
  padding: 8px;
  font-size: 20px;
}

.nav .link:hover, .nav .link:active {
  z-index: 4;
  white-space: nowrap;
  background-color: #8A5A44;
  opacity: 1;
  border-radius: 8px;
  padding: 8px;
}
  
.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 24px;
}
  
.logout-button {
  border: solid 2px #f7f7f7;
  border-radius: 8px;
  background-color: unset;
  color: #f7f7f7;
  width: 150px;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.logout-button:hover {
  border: #9C6B52;
  background-color: #9C6B52;
}

.profile-icon {
  height: 75px;
  cursor: pointer;
  border-radius: 50%;
}