html, body {
  /*FIXME: this is a hack to ensure that bottom image actually sticks to the bottom*/
  height: 100%;
  margin: 0 auto;
  text-align: center;

  background-color: #ede0d4;

  background-image:
    url("/bottom-image.png"),
    url("/background.png");

  background-repeat:
    no-repeat,
    repeat;

  background-position:
    bottom center,
    top left;

  background-size:
    contain,
    contain;

  background-attachment:
    scroll,
    scroll;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
